<h3>
Support
</h3>
<p>
This game is 
<u>
completly free
</u>
 and provided 
<u>
without ads
</u>
.
<br />
 However, if you wish to support it, you can still offer a gift !
<h5>
Buy those useless items
</h5>
<button class="btn btn-outline-info">
<i>
</i>
 Give 10 Kreds
<button class="btn btn-outline-primary">
<i>
</i>
 Give 20 Kreds
<button class="btn btn-outline-primary">
<i>
</i>
 Give 50 Kreds
<button class="btn btn-outline-warning">
<i>
</i>
 Give 100 Kreds
<button class="btn btn-outline-warning">
<i>
</i>
 Give 200 Kreds
<button class="btn btn-outline-danger">
<i>
</i>
 Give 500 Kreds
<button class="btn btn-outline-danger">
<i>
</i>
 Give 1000 Kreds
<h3>
Thanks
</h3>
</button>
</button>
</button>
</button>
</button>
</button>
</button>

Many thanks to 
</p>
<b>
henkekalmar
</b>
, 
<b>
Wicia777
</b>
, 
<b>
aussy8
</b>
, 
<b>
Rekaniso
</b>
, 
<b>
Sieker
</b>
, 
<b>
WLBjork
</b>
 and

<b>
cbianco8808
</b>
 for
helping with beta-testing this game ! 
<h3>
Credits
</h3>
<div>
Icons made by 
<a href="https://www.flaticon.com/authors/freepik" title="Freepik">
Freepik
</a>
, 
<a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">
Eucalyp
</a>
 from 
<a href="https://www.flaticon.com/" title="Flaticon">
www.flaticon.com
</a>
@if (thanks) {
  <div class="bg d-flex flex-column justify-content-center align-items-center text-light">
  <i class="fas fa-thumbs-up">
  </i>
  <div>
  <b>
  Thanks !
  </b>
  </div>
  </div>
}
<div class="position-absolute text-secondary" style="bottom:5px;right:5px">
Version: {{ dataService.getStrVersion( }}

</div>
<h3>
GitHub
</h3>
</div>
<a class="btn btn-primary" href="https://github.com/ChaseIngebritson/cividlization2" target="_blank">
View on GitHub
</a>
